@import url("https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap");

@import url("https://fonts.googleapis.com/css?family=Barlow:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap");

/*GLOBAL*/

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

/*VIDEO*/

.Main-Video {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align:center;

}

#video1,
#video2,
#video3 {
  width: 100%;
  height: auto;
  object-fit: contain;
}
#video1,
#video2{
  margin:5px;
}

/*TITLE VIDEO*/

.newsContent-Page{
  font-size : 1.8em;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

  

.newsContent-testymony, .newsContent-meeting{
  font-size : 1.3em;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin: 2px;
}



/*CONTENT ARTICLES GLOBAL*/

.Open-book{
  width: 15%;
}

.NewsContent-Article{
    box-shadow : 4px;
    border : solid 2px black ;
    margin-top: 20px; 
    font-family: Barlow;
    width: 100%;
    padding:2vw;
  }

  /*FIST, SECOND AND THIRD ARTICLE*/
  
  .firstArticleTitle, .firstArticle-substitle, .Title-sport, .thirdArticleTitle{
    text-align: center;
    margin: 3px;
  }
  
  .textFirstArticle-block1, .textFirstArticle-block2, .text-sportAndDiabete, .text-pocketInsuline{
    text-justify: inter-word;
    word-spacing: normal;
    margin: 2vw;
  }
        /*pycto running man*/
  
  .Running-man{
    width: 20%;
    display: block;
    margin: 0 auto 0 auto;
  }
        
.photo1{
  width: 85%;
  display: block;
  margin: 0 auto 0 auto;
}


/*VERSION DESKTOP*/ 

@media screen and (min-width: 960px) {
  /* .NewsContent-block1 {
    display: grid;
    grid-template-columns: 10% 70% 20%;
  }

  .NewsContent-Article {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
  }  */

  #video1,
  #video2,
  #video3 {
    width: 100%;
    object-fit: contain;
    margin-bottom:10px;
  }
}