*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.news-background {
    background-image: url("../../../assets/pictures/background-news.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    width:100%;
}
 