@import url("https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap");

@import url("https://fonts.googleapis.com/css?family=Barlow:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap");

/*GLOBAL*/

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

/*VIDEO*/

.Main-Video {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align:center;

}

#video1,
#video2,
#video3 {
  width: 100%;
  height: auto;
  object-fit: contain;
}

#video1,
#video2{
  margin:5px;
}

/*TITLE VIDEO*/

.newsContent-Page{
  font-size : 1.6em;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

  

.newsContent-testymony, .newsContent-meeting, .thirdArticleTitle{
  font-size : 1.2em;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}



/*CONTENT ARTICLES GLOBAL*/


.NewsContent-Article{
    box-shadow : 4px;
    border-top: solid 2px black ;
    margin-top: 1vw; 
    font-family: Barlow;
    width: 100%;
    padding:1vw;
  }

  /*FIST, SECOND AND THIRD ARTICLE*/
  
  .firstArticleTitle, .firstArticle-substitle, .Title-sport, .thirdArticleTitle{
    text-align: center;
    font-size: 1.1em;
    margin: 3px;
  }

  .firstArticleTitle, .thirdArticleTitle, .secondArticleTitle{
    font-size: 1.3em;
  }
  
  .textFirstArticle-block1, .textFirstArticle-block2, .text-sportAndDiabete, .text-pocketInsuline{
    text-align: justify;
    font-family: "Barlow", sans-serif;
    font-size: 1em;
    margin: 1vw;
  }
        
  
  /*pycto running man*/

.Running-man{
  width: 60%;
  height: auto;
  display: block;
  margin: 0.5em auto 0.5em;
}
        
.picto-coeur{
  width: 30%;
}

        
.photo1{
  width: 85%;
  display: block;
  margin: 0 auto 0 auto;
}


/*VERSION DESKTOP*/ 

@media screen and (min-width: 960px) {
  .newsContent-Page{
    font-size : 3em;
    margin: 10px
  }

/*VIDEO*/

  #video1,
  #video2,
  #video3 {
    width: 90%;
    height: 500px;
    object-fit: contain;
  }

  /*SIZE OF TITLES*/

  .newsContent-Page{
    font-size : 3em;
  }
  
  .newsContent-testymony, .newsContent-meeting{
    font-size : 2em;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
  }

  .firstArticleTitle, .thirdArticleTitle, .secondArticleTitle{
    font-size: 2em;
  }

  .textFirstArticle-block1, .textFirstArticle-block2, .text-sportAndDiabete, .text-pocketInsuline{
    font-size: 1.2em;
    margin: 1vw;
  }

  .firstArticle-substitle, .Title-sport{
    font-size: 1.3em;
  }

  /*SIZE OF PYCTO*/
  .picto-coeur{
    width: 20%;
  }

  /*THIRD ARTICLE*/
  
  .pyctoAndTitle{
    display: flex;
    flex-direction: row;
  }

  .thirdArticleTitle{
    margin: auto;

  }



  .sportImageText{
    position: relative;
  }

}