:root {
    background-image: url("../../../assets/pictures/eatCake.png");
    background-size: cover;
}

.fourBoxes {
    margin: 8vw 8vw;
}

.mealAndCalcul {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.meal, .calcul, .news, .nutri {
    margin-bottom: 2.5vw;
    display: flex;
    justify-content: center;
    box-shadow: 5px 5px #08f9d6;
    background-color: gray;
    background-size: cover;
}

.meal, .calcul {
    width: 100%;
    height: 38vw;
}

.newsAndNutri {
    display: flex;
    justify-content: center;
}

.news, .nutri {
    width: 100%;
    height: 18.5vw;
}

.news {
    margin-right: 2.5vw;
}

.mealAndCalcul a, .newsAndNutri a {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 1051px) {
    .fourBoxes {
        border: 1px solid red;
    }

    .mealAndCalcul {
        border: 1px solid blueviolet;
        display: flex;
        justify-content: center;
        flex-direction: row;
        margin: 0;
    }

    .meal, .calcul, .news, .nutri {
        width: 100%;
        height: 20vw;
        margin-bottom: 2vw;
    }

    .meal, .news {
        margin-right: 2vw;
    }
}