*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}




@media screen and (min-width: 1051px) {
    
    .ContentFrame-Box {
        width:65%;
        margin: 4vw;
        box-shadow: 10px 10px black;
        background-color: white;
        border: 3px solid black;
        height: auto;
        position: relative;
    }

    .ContentFrame-Icon {
        width:50px;
        position: absolute;
        top:20px;
        left:20px;
    }

    .ContentFrame-Icon img{
        height:80px;
        width:auto;
    }

    .ContentFrame-Content {
        padding:8%;
        
    }
}


@media screen and (max-width: 1050px) {

    .ContentFrame-Box {
        width:85%;
        margin: 8vw;
        box-shadow: 10px 10px black;
        background-color: white;
        border: 4px solid black;
        height: auto;
        position: relative;
    }

    .ContentFrame-Icon {
        display:none;
    }

    .ContentFrame-Content {
        padding:8%;     
    }
}