.footer {
    background-color: #08f9d6;
    position: absolute;
    bottom: 0;
    width: 100vw;
    display: flex;
}

.footer {
    display: flex;
}

.footer a div {
    margin: auto;
}

@media screen and (max-width: 1050px) {
    .footer {      
        display: grid;
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr 1fr; 
    }

    .footer a div {
        padding: 5px;
        display: flex;
        margin: 5px auto;
        padding-left: 35px;
        width: 180px;
    }

    .footer a div * {
    }

    .footer a div p {
        margin: auto;
        margin-left: 20px;
    }
}

@media screen and (min-width: 1051px) {
    .footer {
        height: 200px;        
        flex-direction: row;;
    }
}