*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.headerBox {
    top:0;
    background-color: white;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.HeaderMobile_logo{
    width: 250px;
    display: block;
    margin: auto;
}

@media screen and (min-width: 1051px) {
    .headerBox {
        display: none;
    }
}