ul{
    list-style:none;
    background-color:black;
    height:70px;
    padding: 10px;
    margin-left: 20px;
  }
  
 
  
  
  .Navbar_Navigation :hover {
   background-color: rgb(64, 207, 172);
   border-color:#696969 #DCDCDC #DCDCDC #696969;  
  }
  

 
  .logoNews {
    background-color: aliceblue;
    align-items: center;
   

  }

  .Navbar_logo{
    display:none;
    margin-right: 35%;
    align-content: center;
    font-size: 2rem;
    background-color: rgb(64, 207, 172);
  }


  .Navbar {
    display: flex;
    background-color: black;
    justify-content: center;
    
  }

  #icon-nav {
    fill: white;
    margin-left: 25%;
    margin: inherit;
    position: inherit;

    
  }

  /*div*/
  nav {
    display: flex;
    justify-content: space-around;
    margin: 0;
    width: 80%;

  } 
  
  nav a {
    display: flex;
    justify-content: center;
  }

  