*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.calculation-background {
    background-image: url("../../../assets/pictures/background-calculation.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
}

/*gezjhgjdhs*/
 