* {

   margin: 0px;
   padding: 0px;
}

/* SLIDER */

.input-range__track--active {
   background: #364eff;
}

.input-range__slider {
   background: white;
   border: 1px solid black;
   box-shadow: 1.5px 1.5px 0px grey;
}

.input-range {
   height: 5vw;
}

.input-range__label-container {
   display: none;
}

.input-range__track {
   border-top: 1px solid gray
}

/* SIZE INPUT */

label {
   font-family: "Barlow", sans-serif;
   font-size: 1.2em;
   font-weight: 800;
}

.blockFoodWeight input {
   grid-area: input;
   margin-bottom: 5px;
   width: 3.6em;
   height: 2.3em;
   text-align: center;
   font-size: 1.2em;
   border: 4px solid grey;
}

.range {
   margin-top: 5vw;
   margin-bottom: 5vw;
}

/*ALIGNEMENT OF SLIDER AND INPUT FOODWEIGHT */

.input-range .foodWeight {
   display: grid;
   grid-template-columns: 1fr 1fr;
}

.inputWeightCarbo {
   display: grid;
   grid-template-columns:1fr 1fr;
   width: 100%
 }

.inputWeight, .inputCarbo {
   display: grid;
   align-content: center;
   margin: 1vh 0 1vh 0;
}

.borderInputLabel {
   display:flex;
   margin: auto;

}

.foodWeight, .carbohydrate {
   margin: 1vw 0 1vw 0;
   padding: 0;
}

.blockFoodWeight {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: auto;
}

.carbCalculation-h2 {
   margin: 1vw;
   font-family: "Barlow", "sans serif";
   font-size: 1.8em
}

.carbCalculation-label {
   padding: 0;
   margin:auto;
}

.InputRangeTest {
   width: 70%;
   margin: auto;
}

/* BUTTON */

.CarbButtons {
   display: flex;
   flex-direction: column;
   margin: auto;
   margin-top: 3vh;
   align-items: center;
}

.CarbCalculation-Validation {
   margin: 2vw;
   margin-top: 1.5vw;
   width: 40%;
   height: 3.5em;
   font-size: 1.6em;
   background-color: #364eff;
   ;
   position: relative;
   border: none;
}

.bin {
   background-color: red;
}

.Button-Icon-Checked {
   height: 70%;
   width: auto;
   margin: auto auto 3px auto;
}

.Button-Border {
   position: absolute;
   width: 101%;
   height: 3.6em;
   border: solid 4.5px black;
   bottom: 10px;
   right: 10px;
}

.meal-CalculationButton {
   background-color: black;
   color: white;
   width: 100%;
   bottom: 0;
   font-size: 1.3em;

}

/* LIST TOTAL ITEMS AND GLUCIDES */

.carbs-list {
   display: grid;
   grid-template-columns: 1fr 1fr;
   position:relative;
}

.carbCalculation-ul {
   margin: 10px;
   width: auto;
}

.carbCalculation-ulModifying {
   margin: 10px;
   width: auto;
   pointer-events: none;

}

.carbCalculation-liItem {
   border: solid grey 3px;
   background-color: white;
   list-style: none;
   font-family: "Barlow", "sans serif";
   font-size: 1.3em;
   color: black;
   min-height: 100px;
   height: auto;
   padding: auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   animation:slide-fwd-center .45s cubic-bezier(.25,.46,.45,.94) both;
   overflow: scroll;
   margin: 0;

}

.carbCalculation-liItem li {
   pointer-events: none;
}

.carbCalculation-active {
   background-color : #364eff;
color: white}

@keyframes slide-fwd-center{0%{transform:translateZ(0)}100%{transform:translateZ(160px)}}

.carbCalculation-totalCarousel {
   background-color: lightgrey;
   display: flex;
   overflow: scroll;
   flex-direction: column;
   width: 95%;
   margin: auto;
   max-height: 11em;
   position:relative;
}

.carbCalculation-addition {
   border: 1px solid black;
   color: white;
   background-color: black;
   font-size: 1.2em;
   margin: 10px auto;
   padding: auto;
   width: 25%;
   height: auto;
   display: flex;
   vertical-align: center;
}

.carbCalculation-p {
   margin: auto;
   text-align: center;
   font-size: 1.3em;
}

/* VERSION DESKTOP */

@media screen and (min-width: 961px) {
   input {
      font-size: 1.6em;
   }
   label {
      font-size: 1.4em;
   }
   .CarbCalculation-BeforeCalculation {
      display:grid;
      grid-template-columns: 2fr 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: 
      "food food list"
      "insulin insulin"
   }

   .CarbCalculation-FoodBlock {
      grid-area: "food";
   }

   .CarbCalculation-ListBlock {
      grid-area: "list";
   }

   .CarbCalculation-InsulinCalculation {
      grid-area: "insulin";
      align-self: center;
   }

   .carbCalculation-totalCarousel {
      min-height:30em;
   }

   .carbCalculation-addition {
      width: 40%;}

      .carbs-list {
         display: grid;
         grid-template-columns: 1fr ;
         position:relative;
      }

      .inputWeight, .inputCarbo {
         display: flex;
         align-items: center;
         margin: 1vh 0 1vh 0;
      }

      .carbCalculation-label {
         padding: 0;
         margin-left: auto;
      }
   
}