
         /* SLIDER */

.input-range__track--active{
      background: gray;
}

.input-range__slider{
   background: gray;
   border: 1px solid black;
}

.input-range {
   width: 20%;
   margin-top: 15em;
   margin-right: 0;
}

/* SIZE INPUT */

input{
   grid-area: input;
   margin-bottom : 15px;
   width: 3em;
   height: 1.5em;
   text-align: center;
   font-size:1.2em;
   border: 4px solid grey;
   margin-right: 0;
}

/*ALIGNEMENT OF SLIDER AND INPUT FOODWEIGHT */

.input-range .foodWeight{
   display: grid;
   grid-template-columns: 1fr 1fr;
}

/* BUTTON */

button{
   margin:3vw;
   width: 20%;
   height: 3em;
   font-size: 1.2em;
   background-color: aqua;
}