
         /* SLIDER */

.input-range__track--active{
      background: gray;
}

.input-range__slider{
   background: gray;
   border: 1px solid black;
}

.input-range {
   width: 90%;
   height: 5vw;
}

.input-range__label-container {
   display: none;
}

/* SIZE INPUT */

input{
   grid-area: input;
   margin-bottom : 15px;
   width: 3.5em;
   height: 1.5em;
   text-align: center;
   font-size:1.2em;
   border: 4px solid grey;
}

/*ALIGNEMENT OF SLIDER AND INPUT FOODWEIGHT */

.input-range .foodWeight{
   display: grid;
   grid-template-columns: 1fr 1fr;
}

.inputWeightCarbo{
   display: flex;
   flex-direction: row;
}

.inputWeight, .inputCarbo{
   display: flex;
   align-items: center;
   margin: 5vw;
}

.foodWeight, .carbohydrate{
   margin: auto 2vw;

}

.blockFoodWeight{
   display: flex;
   flex-direction: column;
   align-items: center;
}

.range{
   margin-top: 20vw;
}


/* BUTTON */

button{
   margin:3vw;
   width: 20%;
   height: 3em;
   font-size: 1.2em;
   background-color: aqua;
}



/* VERSION DESKTOP */

@media screen and (min-width: 1051px) {
   input{
      font-size: 1.6em;
   }

   label{
      font-size: 2em;
   }
}