@import url("https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap");

@import url("https://fonts.googleapis.com/css?family=Barlow:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap");


/* Page structure */ 


.insulinCalculationContainer {
    display: grid;
    grid-auto-columns: 1fr;
    align-items: center;
}

.ratioAndGlycemie, .hyperglycemie {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 1em;
}

.ratio, .glycemie, .sensibilite, .glycemieCible {
    display: grid;
    grid-template-rows: 1fr;
}

/* .hyperglycemie {
    display: flex;
    flex-direction: row;
} */


input {
    margin-bottom : 15px;
    width: 4em;
    height: 2em;
    text-align: center;
}

.warning {
    display : flex;
    justify-content: center;
   
}

.no-hypoglycemie {
    display : none;
}

/* --- */


/* Font */

label {
    font-family: "Barlow", sans-serif;
}


.inputTitle {
    font-size : 1.4em;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    text-align: center;
    align-self: center;
}

#totalTitle {
    font-size : 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
}

#totalNumber {
    font-size : 25px;
    

    
}

/* size smiley */

.smileyHypo {
    width:50%;
    height:auto;
}


/* Media Querys */ 

@media screen and (min-width:960px) {
.inputTitle {
    font-size : 2em;

}

#totalTitle, #totalNumber  {
    font-size : 2.7em;

}

input {
    margin-bottom : 15px;
    width: 4em;
    height: 2em;
    font-size: ;
}



}