@import url("https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap");

@import url("https://fonts.googleapis.com/css?family=Barlow:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap");


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}


.ApiRequestInfo-form {
    width: 100%;
    margin: 1vw auto auto auto;
    box-shadow: 5px 5px 7px lightgrey;  
}

.ApiRequestInfo-input {
    font-family: "Poppins", sans-serif ;
    font-weight: 700;
    width: 100%;
    height: 3em;
    padding-left: 0.5em;
    font-size: 1rem;
    outline: none;
    border: solid 3px black;
    background : url(../../../assets/icons/loupe.svg) no-repeat;
    background-position: right 0.5em center;
    background-size: auto 70%;
    background-color: white;
}

@media screen and (max-width: 480px) {
    .ApiRequestInfo-input {
        height: 2.2em;
        padding-left: 0.5em;
        font-size: 1rem;
        outline: none;
        border: solid 2.6px black;
    }
}   


.ApiRequestInfo-list {
    border-left:solid 3px black;
    border-right:solid 3px black;
    border-bottom:solid 3px black;
    border-top:none;
    width: 100%;
    overflow: hidden;
    scroll-behavior: smooth;
    text-decoration: none;
}

.ApiRequestInfo-link {
    text-decoration: none;
}

@keyframes slidein {
    from {
        padding: -100%
    }

    to {
       padding: 0
    }

}

.ApiRequestInfo-listItem {
    list-style: none;
    text-align: center; 
    padding : 0.5em ; 
    text-decoration :none;
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    color:black;
}

.ApiRequestInfo-listItem:hover{
    background-color: hsl(171, 95%, 80%);
}