@import url("https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap");

@import url("https://fonts.googleapis.com/css?family=Barlow:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap");



.food-card {
    background-color: hsl(171, 95%, 80%);
    font-weight: 400;
    width: 100%;
    text-align: center;
    height: auto;
    font-family: 'Barlow', sans-serif;
    margin-bottom: 5px;
    padding:0.3em;
    color:black;
}

.food-card-link {
    text-decoration: none;
}


.food-card-link:hover .food-card:hover {
    cursor: pointer;
    background-color:#08f9d6;
}


@media screen and (min-width: 961px) {

    #food-box{
        margin: 2em auto auto auto;
        width: 85%;
        text-align: center;
    }
}

@media screen and (max-width: 960px) {

    #food-box{
        margin: 2em auto auto auto;
        width: 86%;
        text-align: center;
    }
    .food-card {
        font-size:0.9em;
    }
}

@media screen and (max-width: 480px) {
    #food-box{
        margin: 2em auto auto auto;
        width: 93%;
        text-align: center;
    }
    .food-card {
        font-size:0.7em;
    }
}
