*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}



.nutriContent-mainBox {
    display: flex;
    flex-direction: column;
}



.fruitAndVeg {
    background-color: #08f9d6;
}

.meatAndFish {
    background-color:#ff245e;
}

.drink {
    background-color:rgba(54, 78, 255, 0.9);
}

.starchy {
    background-color: #ffa476;
}

.junkFood {
    background-color:rgba(161, 61, 249, 0.9);
}

.dessert {
    background-color:#ffd800;
}




.nutriContent-CatName{
    display: none;
    margin-bottom: 5%;
}

.nutriContent-Icon {
    width: 70%;
    margin: auto;
}

.nutriContent-sixBoxes>*:hover .nutriContent-CatName {
    display: inline;
    cursor: pointer;
    padding : 1em;
}

.nutriContent-sixBoxes>*:hover .nutriContent-Icon{
    display: none;
}


.nutriContent-searchBox ::placeholder {
    color:black;
    opacity:0.3;
}

@media screen and (max-width: 960px) {

    .nutriContent-searchBox {
        width: 87%;
        margin: auto ;
        text-align: center;
        align-self: center;
    }


    .nutriContent-sixBoxes {
        width:85%;
        margin: 3em  auto auto auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-column-gap: 4vw;
        grid-row-gap: 4vw;
    }

    .nutriContent-sixBoxes > * {
        position: relative;
        height: 26vw;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-content:center;
        justify-content: center;
        cursor: pointer;
    }

   
    .nutriContent-sixBoxes h2 {
        color: white;
        font-size: 1.2rem;
    }

    .Box-Border {
        position: absolute;
        width: 100%;
        height: 100%;
        border: solid 3.2px black;
        bottom: 1vw;
        right: 1vw;
      }
}

@media screen and (min-width: 961px) {

    .nutriContent-searchBox {
        width: 86%;
        margin: auto ;
        text-align: center;
        align-self: center;
    }



    .nutriContent-sixBoxes {
        width:85%;
        margin: 3em auto auto auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-column-gap: 2vw;
        grid-row-gap: 2vw;
    }

    .nutriContent-sixBoxes > * {
        position: relative;
        height: 12vw;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-content:center;
        justify-content: center;
        cursor: pointer;
    }

    .nutriContent-sixBoxes h2 {
        color: white;
        font-size: 1.1rem;
    }


    .Box-Border {
        position: absolute;
        width: 100%;
        height: 100%;
        border: solid 3.2px black;
        bottom: 0.6vw;
        right: 0.6vw;
      }

    
}

@media screen and (max-width: 480px) {

    .nutriContent-sixBoxes h2 {
        font-size: 1em;
    }


    .nutriContent-searchBox ::placeholder {
        font-size:0.9em;
        text-align: left;
    }

    .nutriContent-searchBox  {
        width:94%;
    }

    .nutriContent-sixBoxes {
        width:92%;
        margin: 1.5em auto auto auto;
    }

    .Box-Border {
        border: solid 2.8px black;
        bottom: 1.4vw;
        right: 1.4vw;
      }

}

