*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


.nutriContent-mainBox {
    display: flex;
    flex-direction: column;
}



#food-box {
    margin: 0 5vw;
    display: flex;
    flex-direction: column;
}

.fruitAndVeg {
    background-color: #08f9d6;
}

.meatAndFish {
    background-color:#ff245e;
}

.drink {
    background-color:rgba(54, 78, 255, 0.9);
}

.starchy {
    background-color: #ffa476;
}

.junkFood {
    background-color:rgba(161, 61, 249, 0.9);
}

.dessert {
    background-color:#ffd800;
}



@media screen and (max-width: 960px) {

    .nutriContent-sixBoxes {
        margin: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-column-gap: 2vw;
        grid-row-gap: 2vw;
    }

    .nutriContent-sixBoxes > * {
        height: 26vw;
    }

    .nutriContent-sixBoxes h2 {
        font-size: 1.2em;
    }
}

@media screen and (min-width: 961px) {

    .nutriContent-searchBox {
        width: 85%;
        margin: auto;
        text-align: center;
        align-self: center;
    }

    .nutriContent-sixBoxes {
        width:85%;
     
        margin: 2em auto auto auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-column-gap: 2vw;
        grid-row-gap: 2vw;
    }

    .nutriContent-sixBoxes * {
        color: white;
        text-align:center;
    }

    .fruitAndVeg, .meatAndFish, .drink, .starchy, .junkFood, .dessert {
        display: flex;
        flex-direction: column;
        padding:1em;
        height: max-content;
    }

    .nutriContent-IconCalcul {
        width: 30px;
        margin: auto;
    }

}
    .Box-Border {
      position: absolute;
      width: 1fr;
      height: 1fr;
      border: solid 3.5px black;
      bottom: 7px;
      right: 7px;
    }