*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.main-box {
    display: flex;
    flex-direction: column;
}



.sixBoxes {
    margin: 5vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 4.5vw;
    grid-row-gap: 4.5vw;
}

.sixBoxes > * {
    height: 12vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.sixBoxes * {
    color: white;
    font-weight: bold;
}

.fruitAndVeg {
    background-color: hsl(90, 100%, 50%);
    border: 4px solid hsl(90, 100%, 35%);
}

.meatAndFish {
    background-color: hsl(180, 100%, 50%);
    border: 4px solid hsl(180, 100%, 35%);
}

.drink {
    background-color: hsl(30, 59%, 60%);
    border: 4px solid hsl(30, 59%, 45%);
}

.starchy {
    background-color: hsl(225, 73%, 57%);
    border: 4px solid hsl(225, 73%, 42%);
}

.junkFood {
    background-color: hsl(300, 100%, 50%);
    border: 4px solid hsl(300, 100%, 35%);
}

.dessert {
    background-color: hsl(51, 100%, 50%);
    border: 4px solid hsl(51, 100%, 35%);
}

.iconNews, .iconInfosNut {
    width: 85px;
    height: auto;
    margin: auto;
}


.iconMeal, .iconCalcul {
    width: 140px;
    height: auto;
    margin: auto;
}

@media screen and (max-width: 1050px) {
    .sixBoxes > * {
        height: 26vw;
    }
}

@media screen and (min-width: 1051px) {
    .fourBoxes {
        margin: 8vw 16vw 7vw 16vw;
    }

    .mealAndCalcul {
        display: flex;
        justify-content: center;
        flex-direction: row;
        margin: 0;
    }

    .meal, .calcul, .news, .nutri {
        width: 100%;
        height: 18vw;
        margin-bottom: 3vw;
        box-shadow: 14px 14px black;
        border: 5px solid black;
    }

    .meal, .news {
        margin-right: 3vw;
    }

    .iconMeal, .iconCalcul, .iconNews, .iconInfosNut {
        width: 160px;
        height:auto;
        margin: auto;
    }

    .sixBoxes {
        margin: 5vw;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-column-gap: 4vw;
        grid-row-gap: 3.5vw;
    }

    .search-box {
        width: 85%;
        text-align: center;
        align-self: center;
    }
}